@import url("https://use.typekit.net/nko7smo.css");

/*
Termina Thin
font-family: termina, sans-serif;
font-weight: 100;
font-style: normal;


Termina Extra Light
font-family: termina, sans-serif;
font-weight: 200;
font-style: normal;


Termina Light
font-family: termina, sans-serif;
font-weight: 300;
font-style: normal;


Termina Regular
font-family: termina, sans-serif;
font-weight: 400;
font-style: normal;


Termina Medium
font-family: termina, sans-serif;
font-weight: 500;
font-style: normal;


Termina Demi
font-family: termina, sans-serif;
font-weight: 600;
font-style: normal;


Termina Bold
font-family: termina, sans-serif;
font-weight: 700;
font-style: normal;
*/

@import url("https://use.typekit.net/nko7smo.css");

/*
Meno Banner Light
font-family: meno-banner, serif;
font-weight: 300;
font-style: normal;


Meno Banner Regular
font-family: meno-banner, serif;
font-weight: 400;
font-style: normal;


Meno Banner Semi Bold
font-family: meno-banner, serif;
font-weight: 600;
font-style: normal;


Meno Banner Bold
font-family: meno-banner, serif;
font-weight: 700;
font-style: normal;


Meno Banner Extra Bold
font-family: meno-banner, serif;
font-weight: 800;
font-style: normal;


Meno Banner Black
font-family: meno-banner, serif;
font-weight: 900;
*/



html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: termina, sans-serif;
    font-weight: 200;
    font-style: normal;
    position: relative;
    background-color: #DBD8D8;
}

svg path:hover {
    fill: #847C7C;
}


/*---TEXT STYLES---*/

h1 {
    margin: 0;
}

.small-header {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.big-header {
    font-family: meno-banner, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
    letter-spacing: 4px;
    margin-top: 0.7rem;
}

.bold-text {
    font-weight: 500;
    color: #605959;
}

.semi-bold-text {
    font-weight: 400;
    color: #9C3535;
}

/*---MEDIA QUERIES TEXT STYLING BEGIN---*/



@media (max-width: 768px) {

    .small-header {
        font-size: 0.7rem;
        font-weight: 400;
        letter-spacing: 3px;
    }

    .big-header {
        font-size: 4rem;
        letter-spacing: 3px;
        margin-top: 0.6rem;
    }

    p {
        font-size: 16px;
    }
}


/*---TEXT STYLES END---*/



/*---HERO SECTION BEGIN---*/

.hero-section {
    height: 100vh;
    padding-top: 9vh;
}


.hero-text-wrap {
    text-align: center;
}

.hero-text-wrap .big-header {
    font-size: 50px;
    color: #9C3535;
}

.hero-text-wrap .small-header {
    color: #9C3535;
}

.burger-svgs-wrapper {
    width: 16vw;
    margin: 0 auto;

}

.burger-svgs {
    width: 16vw;
}

/*---HERO SECTION TABLET MEDIA QUERY BEGIN---*/

@media only screen and (min-width: 640px) and (max-width: 1024px) {


    .hero-section {
        padding-top: 14vh;
        overflow: hidden;
    }


    .burger-svgs-wrapper {
        width: 35vw;

    }

    .burger-svgs {
        width: 35vw;
    }


}

/*---HERO SECTION MOBILE MEDIA QUERY BEGIN---*/

@media (max-width: 640px) {

    .hero-section {
        padding-top: 12vh;
        overflow: hidden;
    }


    .burger-svgs-wrapper {
        width: 65vw;

    }

    .burger-svgs {
        width: 65vw;
    }

    .hero-text-wrap .big-header {
        font-size: 30px;

    }

    .hero-text-wrap .small-header {
        color: #9C3535;
        font-size: 11px;
    }


}


/*BURGER LAYER 1 ANIMATION BEGIN---> */

.fade-in {
    -webkit-animation: fade-in 1.5s ease-in 0.4s both;
    animation: fade-in 1.5s ease-in 0.4s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*BURGER LAYER 2 ANIMATION BEGIN*/

.fade-in-2 {
    -webkit-animation: fade-in 1.5s ease-in 1s both;
    animation: fade-in 1.5s ease-in 1s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*BURGER LAYER 3 ANIMATION BEGIN*/

.fade-in-3 {
    -webkit-animation: fade-in 1.5s ease-in 1.6s both;
    animation: fade-in 1.5s ease-in 1.6s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*BURGER LAYER 4 ANIMATION BEGIN*/

.fade-in-4 {
    -webkit-animation: fade-in 1.5s ease-in 2.2s both;
    animation: fade-in 1.5s ease-in 2.2s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*BURGER LAYER 5 ANIMATION BEGIN*/

.fade-in-5 {
    -webkit-animation: fade-in 1.5s ease-in 2.8s both;
    animation: fade-in 1.5s ease-in 2.8s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*BURGER LAYER 6 ANIMATION BEGIN*/

.fade-in-6 {
    -webkit-animation: fade-in 1.5s ease-in 3.4s both;
    animation: fade-in 1.5s ease-in 3.4s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*---HERO SECTION END---*/


/*---COIN BURGER SECTION BEGIN---> */

#coin-burger {
    height: 60vh;
    background-color: #312F2F;
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(2, auto);
    color: white;
}

#coin-burger div {
    overflow: hidden;
}


.coin-burger-text-wrap {
    padding: 50px 100px 50px 100px;
    text-align: center;
}

.coin-burger-text-wrap .small-header {
    color: #DBD8D8;
}



.coin-burger-text-wrap .big-header {
    color: #605959;
    font-size: 45px;
}

#coin-burger div p {
    margin-bottom: 50px;
    line-height: 1.8;
}

#coin-burger div a {
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: #DBD8D8;
    border-width: 0.5px;
    font-size: 13px;
    letter-spacing: 3px;
    margin: 0 auto;
    font-weight: 300;
    text-decoration: none;
    color: #EEEEEE;
}

#coin-burger div a:hover {
    color: #EEEEEE;
    background-color: #605959;
    border-color: #605959;
}




@media (max-width: 1024px) {
    #coin-burger {
        height: 110vh;
        display: grid;
        grid-template-columns: repeat(1, 100vw);
        grid-template-rows: repeat(1, auto);
    }

    .coin-burger-text-wrap {
        padding: 30px 20px 100px 20px;
    }

    .coin-burger-text-wrap .big-header {
        font-size: 35px;
    }

}

@media (max-width: 640px) {
    #coin-burger div a {
        display: block;
    }
}

/*---COIN BURGER SECTION END---> */

/*---PROMO BANNER SECTION BEGIN---> */

.promo-banner {
    text-align: center;
    padding: 20px;
}

.promo-banner div span {
    font-weight: 500;
}

.promo-banner div a {
    display: inline;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: #312F2F;
    border-width: 0.5px;
    font-size: 13px;
    letter-spacing: 3px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
    text-decoration: none;
    color: #312F2F;
}

@media (max-width: 640px) {
    .promo-banner div a {
        display: block;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
}


.text-pop-up-top {
    -webkit-animation: text-pop-up-top 1s cubic-bezier(.25, .46, .45, .94) infinite alternate both;
    animation: text-pop-up-top 1s cubic-bezier(.25, .46, .45, .94) infinite alternate both
}


@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 30px rgba(0, 0, 0, .3)
    }
}






/*---BUTTON FOR ONLINE ORDER---*/
.order-online-button {
    position: fixed;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    background-color: #9C3535;
    color: #eeeeee;
    font-weight: 400;
    top: 80vh;
    right: 5vw;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    -webkit-box-shadow: 2px 10px 17px -13px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 2px 10px 17px -13px rgba(0, 0, 0, 0.17);
    box-shadow: 2px 10px 17px -13px rgba(0, 0, 0, 0.50);
}

@media (max-width: 768px) {

    .order-online-button {
        top: 90vh;
        width: 95px;
        height: 90px;

    }

}

.order-button-icon {
    height: 32px;
}

.order-online-button figure {
    margin: 0 auto;

}

.scale-up-center:hover {
    -webkit-animation: scale-up-center 0.5s both;
    animation: scale-up-center 0.5s both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/*---BUTTON FOR ONLINE ORDER END---*/

/*---HERO IMAGE KEN BURNS ANIMATION BEGIN---*/

.hero-image-container {
    position: relative;
    height: 43vh;
    width: 100vw;
    background-color: #DBD8D8;
    overflow: hidden;
}

.hero-image-container img {
    width: 100vw;
}

@media only screen and (min-width: 600px) and (max-width:950px) {

    .hero-image-container img {
        width: 130vw;
    }

    .hero-image-container {

        height: 40vh;
    }
}

@media screen and (max-width: 599px) {

    .hero-image-container img {
        width: 200vw;
    }

    .hero-image-container {
        margin-top: 7vh;
        height: 30vh;
    }
}


.kenburns-top-left {
    -webkit-animation: kenburns-top-left 14s linear infinite alternate both;
    animation: kenburns-top-left 14s linear infinite alternate both;
}

@-webkit-keyframes kenburns-top-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 16%;
        transform-origin: 16% 16%;
    }

    100% {
        -webkit-transform: scale(1.15) translate(-20px, -15px);
        transform: scale(1.15) translate(-20px, -15px);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

@keyframes kenburns-top-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 16%;
        transform-origin: 16% 16%;
    }

    100% {
        -webkit-transform: scale(1.15) translate(-20px, -15px);
        transform: scale(1.15) translate(-20px, -15px);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

.menu-text-box {
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

@media (max-width: 768px) {

    .menu-text-box {
        top: 50%;
    }
}

/*---HERO IMAGE KEN BURNS ANIMATION END---*/

/*---GRID STYLES BEGIN---*/

.g1 {
    grid-area: g1;
    position: fixed;
    /*    background-color: aqua;*/
}

.g2 {
    grid-area: g2;
    /*    background-color: hotpink;*/


}


.menu-grid {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "g1 g2 g2 g2";
}

@media (max-width: 768px) {
    .menu-grid {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-areas:
            "g1"
            "g2";
    }

    .g1 {
        position: relative;
        top: 0;
        background-color: aqua;
        padding: 12px;
        width: 100vw;


    }

}

/*---NESTED MENU GRID BEGIN---*/

.nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a1 a1 a1"
        "a2 a3 a4"
        "a5 a5 a5";
}

.a1 {
    grid-area: a1;
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
    color: #605959;
}

.a1 .big-header {
    font-size: 3.2rem;
}

.a2 {
    grid-area: a2;
    /*    background-color: yellow;*/
    text-align: center;
    padding: 5px;
}

.a3 {
    grid-area: a3;
    /*    background-color: navajowhite;*/
    text-align: center;
    padding: 5px;
}

.a4 {
    grid-area: a4;
    /*    background-color: indigo;*/
    text-align: center;
    padding: 5px;
}

.a5 {
    grid-area: a5;
    /*    background-color: fuchsia;*/
    height: 200vh;
    padding: 30px;
}

@media (max-width: 768px) {
    .nested-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "a1"
            "a2"
            "a3"
            "a4"
            "a5";
    }
}



/*---NESTED MENU GRID BEGIN---*/


/*---GRID STYLES END---*/


/*SIDE NAVIGATION BEGIN*/


.menu-items-list li {
    list-style: none;
    padding-bottom: 9px;

}

.menu-items-list li a {
    text-decoration: none;
    color: black;
}


@media (max-width: 768px) {

    .menu-items-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    .menu-items-list li {
        font-size: 9px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        /*        border-style: solid;*/
        /*        border-width: 0.5px;*/
        border-radius: 10px;
        margin-top: 4px;
        margin-left: 3px;
        margin-right: 3px;
        background-color: #EEEEEE;


    }


}

/*---FOOD MENU STYLING---*/

.menu-icons {
    height: 80px;
}

.a2 p {
    line-height: 2;
}

.a3 p {
    line-height: 2;
}

.a4 p {
    line-height: 2;
}

.a5 div {
    text-align: center;
    background-color: #EEEEEE;
    padding: 20px;
}

@media (min-width: 768px) {

    .display-none {
        display: none;
    }

}
